<form [formGroup]="formGroup" (ngSubmit)="savePiece()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{"SHARED.GENERAL" | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="stretch">
                <mat-form-field appearance="fill">
                    <mat-label>{{"PIECES.NAME" | translate}}</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="name?.invalid">{{"SHARED.VALIDATOR.REQUIRED" | translate}}</mat-error>
                </mat-form-field>
            </div>

            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
                fxLayoutAlign.lt-md="space-between stretch">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>{{"PIECES.AUTHOR" | translate}}</mat-label>
                    <input matInput formControlName="author">
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex fxFlexOffset.gt-md="1rem" fxFlexOffset.md="1rem"
                    fxFlexOffset.lt-md="0">
                    <mat-label>{{"PIECES.ARRANGER" | translate}}</mat-label>
                    <input matInput formControlName="arranger">
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex fxFlexOffset.gt-md="1rem" fxFlexOffset.md="1rem"
                    fxFlexOffset.lt-md="0">
                    <mat-label>{{"PIECES.TYPE" | translate}}</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let enum of pieceTypeEnum | keyvalue" [value]="enum.value">
                            {{("PIECES.ENUMS." + enum.value) | translate}}
                        </mat-option>
                    </mat-select>
                    <mat-hint>{{"PIECES.SELECT_TYPE" | translate}}</mat-hint>
                </mat-form-field>
            </div>

            <label for="description">{{'PIECES.DESCRIPTION' | translate}}</label><br />
            <angular-editor id="description" formControlName="description"
                [placeholder]="'SHARED.TEXT_HERE' | translate" [config]="editorConfig"></angular-editor>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-top-2rem">
        <mat-card-header>
            <mat-card-title>{{"PIECES.MEDIA" | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="column">
                <file-drop [disabled]="readOnly" (onFileDrop)="onFileDrop($event)"></file-drop>

                <mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="order">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"MEDIA.ORDER" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.order}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"MEDIA.NAME" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <div fxLayout="row" fxLayoutAlign="start center" class="space">
                                <img [src]="row.preview" class="rounded-thumbnail" fxShow fxHide.lt-md
                                    *ngIf="row.type === imageMediaType" />
                                <span>{{row.name}}</span>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"MEDIA.TYPE" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{(row.type ? "MEDIA.ENUMS." + row.type : "MEDIA.ENUMS.OTHER") |
                                translate}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="page">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"MEDIA.PAGE" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-form-field appearance="fill">
                                <input matInput type="number" [(ngModel)]="row.page" min="1" [disabled]="readOnly"
                                    [ngModelOptions]="{standalone: true}">
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="instrument">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"MEDIA.INSTRUMENT" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <mat-form-field appearance="fill">
                                <mat-select [(ngModel)]="row.instrument" [ngModelOptions]="{standalone: true}"
                                    [disabled]="readOnly">
                                    <mat-option></mat-option>
                                    <mat-option *ngFor="let instrument of instruments" [value]="instrument"
                                        [matTooltip]="instrument.description || ''">
                                        {{instrument.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            {{"SHARED.ACTIONS" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index;">
                            <div fxFlex="layout-wrap">
                                <button type="button" mat-icon-button aria-label="Show" (click)="showMedia(row)"
                                    matTooltip="{{'SHARED.SHOW' | translate}}">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Edit" (click)="editMedia(row)"
                                    *ngIf="!readOnly" matTooltip="{{'SHARED.EDIT' | translate}}">
                                    <mat-icon>edit</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="First" *ngIf="!readOnly"
                                    (click)="moveMedia(row, PositionEnumFirst)" [disabled]="row.order === 1"
                                    matTooltip="{{'SHARED.ORDER.FIRST' | translate}}">
                                    <mat-icon>arrow_upward</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Up" *ngIf="!readOnly"
                                    (click)="changeOrderMedia(row, -1)" [disabled]="row.order === 1"
                                    matTooltip="{{'SHARED.ORDER.UP' | translate}}">
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Down" *ngIf="!readOnly"
                                    (click)="changeOrderMedia(row, +1)"
                                    [disabled]="row.order === dataSource.data.length"
                                    matTooltip="{{'SHARED.ORDER.DOWN' | translate}}">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Last" *ngIf="!readOnly"
                                    (click)="moveMedia(row, PositionEnumLast)"
                                    [disabled]="row.order === dataSource.data.length"
                                    matTooltip="{{'SHARED.ORDER.LAST' | translate}}">
                                    <mat-icon>arrow_downward</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Delete" (click)="deleteMedia(i)"
                                    *ngIf="!readOnly" matTooltip="{{'SHARED.DELETE' | translate}}">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>

    <buttons-actions [disabled]="!formGroup.valid" [readOnly]="readOnly" [back]="'pieces'"></buttons-actions>
</form>