<div fxLayout="column" class="container">
    <mat-toolbar color="primary">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <button mat-icon-button aria-label="Menu" (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <div>
                <span>Taurus</span>
                <button mat-icon-button [matMenuTriggerFor]="settings" aria-label="Menu">
                    <mat-icon>settings</mat-icon>
                </button>
                <mat-menu #settings>
                    <button mat-menu-item [matTooltip]="user.email || ''" *ngIf="user">
                        <mat-icon>person_outline</mat-icon>
                        <span>{{user.firstName}} {{user.lastName}}</span>
                        <div class="inline-block" [ngClass]="{'isLoggedId': isLoggedIn}"></div>
                    </button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item (click)="openProfile()">
                        <mat-icon>apps</mat-icon>
                        <span>{{'MENU.USER' | translate}}</span>
                    </button>
                    <button mat-menu-item (click)="changeTheme()">
                        <mat-icon>{{isDarkTheme ? "brightness_7" : "brightness_2"}}</mat-icon>
                        <span>{{('MENU.THEME.' + (isDarkTheme ? 'LIGHT' : 'DARK')) | translate}}</span>
                    </button>
                    <button mat-menu-item [matMenuTriggerFor]="language">
                        <mat-icon>outlined_flag</mat-icon>
                        <span>{{'MENU.LANGUAGES.TITLE' | translate}}</span>
                    </button>
                </mat-menu>
                <mat-menu #language>
                    <button mat-menu-item *ngFor="let lang of languages" (click)="changeLang(lang)">
                        <mat-icon>flag</mat-icon>
                        <span>{{('MENU.LANGUAGES.ENUMS.' + lang.toUpperCase()) | translate}}</span>
                    </button>
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>

    <mat-sidenav-container class="sidenav-container" fxFill fxFlex>
        <mat-sidenav #drawer class="sidenav" mode="side" opened>
            <mat-nav-list>

                <a mat-list-item [routerLink]="['pieces']" routerLinkActive="active">
                    <mat-icon mat-list-icon fxHide fxShow.lt-md [matTooltip]="'MENU.PIECES' | translate">library_music
                    </mat-icon>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow>library_music</mat-icon>
                    <p mat-line fxHide.lt-md fxShow>{{'MENU.PIECES' | translate}}</p>
                </a>

                <a mat-list-item [routerLink]="['albums']">
                    <mat-icon mat-list-icon fxHide fxShow.lt-md [matTooltip]="'MENU.ALBUMS' | translate">album
                    </mat-icon>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow>album</mat-icon>
                    <p mat-line fxHide.lt-md fxShow>{{'MENU.ALBUMS' | translate}}</p>
                </a>

                <a mat-list-item [routerLink]="['instruments']">
                    <mat-icon mat-list-icon fxHide fxShow.lt-md [matTooltip]="'MENU.INSTRUMENTS' | translate">piano
                    </mat-icon>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow>piano</mat-icon>
                    <p mat-line fxHide.lt-md fxShow>{{'MENU.INSTRUMENTS' | translate}}</p>
                </a>

                <mat-divider></mat-divider>

                <a mat-list-item (click)="signout()">
                    <mat-icon mat-list-icon fxHide fxShow.lt-md [matTooltip]="'MENU.LOGOUT' | translate">exit_to_app
                    </mat-icon>
                    <mat-icon mat-list-icon fxHide.lt-md fxShow>exit_to_app</mat-icon>
                    <p mat-line fxHide.lt-md fxShow>{{'MENU.LOGOUT' | translate}}</p>
                </a>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="sidenav-content">
            <div class="main-page-container">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>

<loading-spinner [isLoading]="isLoading"></loading-spinner>