.sidenav-container {
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.sidenav {
    padding: 0 0.5rem;
}

.container {
    height: 100%;
}

.main-page-container {
    padding: 1rem;
}

.inline-block {
    width: 0.8rem;
    height: 0.8rem;
    border-radius: 0.8rem;
    display: inline-block;
    background: orangered;
    margin-left: 0.5rem;
}

.isLoggedId {
    background: yellowgreen;
}