<p-fluid>
    <div class="flex">
        <div class="card flex flex-col gap-4 w-full">
            <div class="flex flex-row justify-between items-center font-semibold text-xl">
                <span>Albums</span>
                <p-button label="Salva" icon="pi pi-check" severity="primary" class="mr-2" (onClick)="save()" />
            </div>
            <div class="flex flex-col md:flex-row gap-6">
                <p-floatlabel class="flex w-full" variant="on">
                    <input pInputText id="name" type="text" [(ngModel)]="album!.name" />
                    <label for="name">Nome</label>
                </p-floatlabel>
                <p-floatlabel class="flex w-full" variant="on">
                    <p-datepicker [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay" dateFormat="yy-mm-dd"
                        [(ngModel)]="album!.date" />
                    <label for="date">Data</label>
                </p-floatlabel>
            </div>
            <p-floatlabel class="flex" variant="on">
                <textarea pTextarea id="description" rows="4" [(ngModel)]="album!.description"></textarea>
                <label for="description">Descrizione</label>
            </p-floatlabel>
        </div>
    </div>

    <p-toolbar styleClass="mt-10 mb-6">
        <ng-template #start>
            <p-button label="Aggiungi traccia" icon="pi pi-plus" severity="secondary" class="mr-2"
                (onClick)="addNew()" />
            <p-button severity="secondary" label="Elimina selezionati" icon="pi pi-trash" outlined
                (onClick)="deleteSelectedTracks()" [disabled]="!selectedTracks.length" />
        </ng-template>
    </p-toolbar>

    <p-table #dt class="minw-75rem" [value]="album.tracks!" [rows]="10" [columns]="cols" [paginator]="true"
        [globalFilterFields]="['name']" [(selection)]="selectedTracks" [rowHover]="true" dataKey="index"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} tracks" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]" (onRowReorder)="onRowReorder()">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Gestisci tracce</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="w-12" scope="col">
                    <p-tableHeaderCheckbox />
                </th>
                <th class="minw-12rem" scope="col">Codice</th>
                <th pSortableColumn="order" class="minw-10rem" scope="col">
                    Ordine
                    <p-sortIcon field="order" />
                </th>
                <th pSortableColumn="name" class="minw-16rem" scope="col">
                    Nome
                    <p-sortIcon field="name" />
                </th>
                <th class="minw-12rem" scope="col"></th>
            </tr>
        </ng-template>
        <ng-template #body let-track let-index="rowIndex">
            <tr [pReorderableRow]="index">
                <td class="w-12">
                    <p-tableCheckbox [value]="track" pReorderableRowHandle />
                </td>
                <td class="minw-12rem" pReorderableRowHandle>{{ track.index }}</td>
                <td class="minw-10rem" pReorderableRowHandle>{{ track.order }}</td>
                <td class="minw-16rem" pReorderableRowHandle>{{ track.name }}</td>
                <td class="minw-12rem">
                    <p-button icon="pi pi-search" class="mr-2" [rounded]="true" [outlined]="true"
                        [routerLink]="'/tracks/'+track.index" />
                    <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                        (onClick)="deleteTrack(track)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-fluid>