USE [master]
GO
/****** Object:  Database [TAURUS]    Script Date: 03/09/2022 15:08:30 ******/
CREATE DATABASE [TAURUS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TAURUS', FILENAME = N'/var/opt/mssql/data/TAURUS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TAURUS_log', FILENAME = N'/var/opt/mssql/data/TAURUS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TAURUS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TAURUS]
GO
/****** Object:  Table [dbo].[albums]    Script Date: 03/09/2022 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[albums](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [bigint] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[date] [date] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Albums] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[audit]    Script Date: 03/09/2022 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [bit] NOT NULL,
	[date] [datetime2](7) NOT NULL,
	[type] [varchar](50) NOT NULL,
	[user_id] [varchar](255) NOT NULL,
	[tuple_id] [bigint] NOT NULL,
	[table_name] [varchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_audit] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[collections]    Script Date: 03/09/2022 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[collections](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [bit] NOT NULL,
	[album_id] [bigint] NOT NULL,
	[piece_id] [bigint] NOT NULL,
	[order] [int] NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Collections] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[instruments]    Script Date: 03/09/2022 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[instruments](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [bit] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Instruments] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[media]    Script Date: 03/09/2022 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[media](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [bit] NOT NULL,
	[piece_id] [bigint] NOT NULL,
	[instrument_id] [bigint] NOT NULL,
	[name] [varchar](255) NOT NULL,
	[type] [varchar](50) NULL,
	[content_type] [varchar](255) NULL,
	[page] [int] NOT NULL,
	[path] [varchar](max) NOT NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_media] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pieces]    Script Date: 03/09/2022 15:08:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pieces](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[deleted] [bit] NOT NULL,
	[name] [nvarchar](255) NOT NULL,
	[type] [varchar](50) NULL,
	[author] [nvarchar](255) NULL,
	[arranger] [nvarchar](255) NULL,
	[description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pieces] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [FK_collections_Albums] FOREIGN KEY([album_id])
REFERENCES [dbo].[albums] ([id])
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [FK_collections_Albums]
GO
ALTER TABLE [dbo].[collections]  WITH CHECK ADD  CONSTRAINT [FK_collections_pieces] FOREIGN KEY([piece_id])
REFERENCES [dbo].[pieces] ([id])
GO
ALTER TABLE [dbo].[collections] CHECK CONSTRAINT [FK_collections_pieces]
GO
ALTER TABLE [dbo].[media]  WITH CHECK ADD  CONSTRAINT [FK_media_instruments] FOREIGN KEY([instrument_id])
REFERENCES [dbo].[instruments] ([id])
GO
ALTER TABLE [dbo].[media] CHECK CONSTRAINT [FK_media_instruments]
GO
ALTER TABLE [dbo].[media]  WITH CHECK ADD  CONSTRAINT [FK_media_pieces] FOREIGN KEY([piece_id])
REFERENCES [dbo].[pieces] ([id])
GO
ALTER TABLE [dbo].[media] CHECK CONSTRAINT [FK_media_pieces]
GO
USE [master]
GO
