<div class="card">
    <div class="flex items-center justify-between mb-6">
        <div class="font-semibold text-xl">Notifications</div>
        <div>
            <button pButton type="button" icon="pi pi-ellipsis-v" class="p-button-rounded p-button-text p-button-plain"
                (click)="menu.toggle($event)"></button>
            <p-menu #menu [popup]="true" [model]="items"></p-menu>
        </div>
    </div>

    <ul class="p-0 mx-0 mt-0 mb-6 list-none">
        @if (notices) {
        @for (notice of notices.content; track $index) {
        <li class="flex items-center justify-between py-2 cursor-pointer"
            [ngClass]="!notice.readDate ? 'bg-primary-50 dark:bg-primary-400/5 rounded-border' :'border-b border-surface'"
            (click)="mark(notice)" (keydown)="mark(notice)">
            <div class="flex items-center pl-2">
                <div
                    class="w-12 h-12 flex items-center justify-center bg-blue-100 dark:bg-blue-400/10 rounded-full mr-4 shrink-0">
                    <i class="pi !text-xl text-blue-500"
                        [ngClass]="notice.readDate ? 'pi-check text-green-500' : 'pi-box'"></i>
                </div>
                <span>
                    <div class="text-primary font-bold mb-3">{{notice.name}}</div>
                    <div class="text-surface-700 dark:text-surface-100">{{notice.message}}</div>
                </span>
            </div>
            <div class="pr-2">
                <button pButton type="button" icon="pi pi-trash" class="p-button-rounded p-button-text p-button-plain"
                    (click)="deleteOne(notice)"></button>
            </div>
        </li>
        }
        }
    </ul>
    <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
        [rowsPerPageOptions]="[5, 10, 20, 30]" />
</div>