<p-fluid>
    <div class="flex">
        <div class="card flex flex-col gap-4 w-full">
            <div class="flex flex-row justify-between items-center">
                <span class="font-semibold text-xl">Traccia</span>
                <p-button label="Salva" icon="pi pi-check" severity="primary" (onClick)="save()" />
            </div>
            <div class="flex flex-col md:flex-row gap-6">
                <p-floatlabel class="flex w-full" variant="on">
                    <input pInputText id="name" type="text" [(ngModel)]="track!.name" />
                    <label for="name">Nome</label>
                </p-floatlabel>
                <p-floatlabel class="flex w-full" variant="on">
                    <input pInputText id="name" type="text" [(ngModel)]="track!.composer" />
                    <label for="name">Compositore</label>
                </p-floatlabel>
                <p-floatlabel class="flex w-full" variant="on">
                    <input pInputText id="name" type="text" [(ngModel)]="track!.arranger" />
                    <label for="name">Arrangiatore</label>
                </p-floatlabel>
            </div>
            <p-floatlabel class="flex" variant="on">
                <textarea pTextarea id="description" rows="4" [(ngModel)]="track!.description"></textarea>
                <label for="description">Descrizione</label>
            </p-floatlabel>
            <app-type-handler variant="on" label="Tipo" [(types)]="track!.type"></app-type-handler>
            <p-fileupload #fu name="file" chooseLabel="Seleziona file" uploadLabel="Carica" cancelLabel="Annulla"
                mode="advanced" accept="application/pdf" [headers]="httpHeaders()" [url]="trackStream()">
                <ng-template #empty>
                    <div>Trascina il file qui per caricarlo.</div>
                </ng-template>
            </p-fileupload>
        </div>
    </div>

    <p-toolbar styleClass="mt-10 mb-6">
        <ng-template #start>
            <p-button severity="primary" label="Nuovo" icon="pi pi-plus" class="mr-2" outlined (onClick)="addNew()" />
            <p-button severity="secondary" label="Elimina selezionati" icon="pi pi-trash" outlined
                (onClick)="deleteSelectedTracks()" [disabled]="!selectedScores.length" />
        </ng-template>
    </p-toolbar>

    <p-table #dt class="minw-75rem" [value]="track.scores!" [rows]="10" [columns]="cols" [paginator]="true"
        [globalFilterFields]="['name']" [(selection)]="selectedScores" [rowHover]="true" dataKey="order"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} tracks" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10, 20, 30]">
        <ng-template #caption>
            <div class="flex items-center justify-between">
                <h5 class="m-0">Gestisci parti</h5>
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input pInputText type="text" (input)="onGlobalFilter(dt, $event)" placeholder="Search..." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template #header>
            <tr>
                <th class="w-12" scope="col">
                    <p-tableHeaderCheckbox />
                </th>
                <th pSortableColumn="order" class="minw-8rem" scope="col">
                    Ordine
                    <p-sortIcon field="order" />
                </th>
                <th class="minw-8rem" scope="col">
                    Media
                </th>
                <th pSortableColumn="instruments" class="minw-8rem" scope="col">
                    Strumenti
                    <p-sortIcon field="instruments.name" />
                </th>
                <th class="minw-2rem" scope="col"></th>
            </tr>
        </ng-template>
        <ng-template #body let-score let-rowIndex="rowIndex">
            <tr>
                <td class="w-12">
                    <p-tableCheckbox [value]="score" />
                </td>
                <td class="minw-8rem">{{ score.order }}</td>
                <td class="minw-8rem">
                    <div class="flex flex-col items-start">
                        <div class="flex flex-col md:flex-row flex-wrap gap-2 minh-2rem mt-1">
                            <ng-container *ngFor="let media of score!.media">
                                <div class="div-image pi pi-image cursor-pointer" (click)="toggleDataTable(op2, $event)"
                                    (keydown)="toggleDataTable(op2, $event)" (keypress)="toggleDataTable(op2, $event)"
                                    (keypress)="toggleDataTable(op2, $event)">
                                    <p-popover #op2 [style]="{width: '50rem'}">
                                        <img [src]="mediaStream(media) | secure | async" class="w-50"
                                            alt="sheet-music-{{media.index}}" />
                                    </p-popover>
                                </div>
                            </ng-container>
                        </div>
                        <p-button icon="pi pi-images" label="Show" (onClick)="showMedia(score.media)" class="mt-2 block"
                            *ngIf="score!.media?.length >= 3" />
                    </div>
                </td>
                <td class="minw-8rem">
                    <div class="flex flex-col md:flex-row gap-2" *ngIf="score.instruments?.length">
                        <p-tag [value]="instrument.name" [rounded]="true" severity="success"
                            *ngFor="let instrument of score.instruments"></p-tag>
                    </div>
                </td>
                <td class="minw-2rem">
                    <div class="flex flex-col md:flex-row gap-2">
                        <p-button icon="pi pi-pencil" [rounded]="true" [outlined]="true" pTooltip="Modifica"
                            tooltipPosition="top" pTooltip="Modifica" (onClick)="editScore(score)" />
                        <p-button icon="pi pi-trash" severity="danger" [rounded]="true" [outlined]="true"
                            pTooltip="Elimina" tooltipPosition="top" pTooltip="Elimina"
                            (onClick)="deleteScore(score)" />
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</p-fluid>

<p-galleria [value]="images" [(visible)]="displayGalleria" [responsiveOptions]="responsiveOptions" [numVisible]="5"
    [autoPlay]="true" [circular]="true" [fullScreen]="true" [transitionInterval]="3000" [showIndicators]="true"
    [showThumbnails]="false" [changeItemOnIndicatorHover]="true" [showItemNavigators]="true"
    [showIndicatorsOnItem]="true" [containerStyle]="{ 'max-width': '60rem' }">
    <ng-template #item let-media>
        <img class="image-galleria" [src]="media" alt="sheet-music-{{media.index}}" />
    </ng-template>
</p-galleria>