.minw-2rem {
    min-width: 2rem;
}

.minw-8rem {
    min-width: 8rem;
}

.minw-12rem {
    min-width: 12rem;
}

.minw-75rem {
    min-width: 75rem;
}

.minh-2rem {
    min-height: 2rem;
}

.div-image {
    width: 2rem;
    font-size: 2rem;
}

.image-galleria {
    min-height: 50rem;
    max-height: 95vh;
}