<form class="form-container" [formGroup]="formGroup" (ngSubmit)="saveAlbum()">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{"SHARED.GENERAL" | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center"
                fxLayoutAlign.lt-md="space-between stretch">
                <mat-form-field appearance="fill" fxFlex>
                    <mat-label>{{"ALBUMS.NAME" | translate}}</mat-label>
                    <input matInput formControlName="name">
                </mat-form-field>

                <mat-form-field appearance="fill" fxFlex fxFlexOffset.gt-md="1rem" fxFlexOffset.md="1rem"
                    fxFlexOffset.lt-md="0">
                    <mat-label>{{"ALBUMS.DATE" | translate}}</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="date">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>

            <label for="description">{{'ALBUMS.DESCRIPTION' | translate}}</label><br />
            <angular-editor id="description" formControlName="description"
                [placeholder]="'SHARED.TEXT_HERE' | translate" [config]="editorConfig"></angular-editor>
        </mat-card-content>
    </mat-card>

    <mat-card class="margin-top-2rem">
        <mat-card-header>
            <mat-card-title>{{"ALBUMS.PIECES" | translate}}</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div fxLayout="column">
                <mat-form-field appearance="fill">
                    <input matInput [placeholder]="'SHARED.FILTER.PLACEHOLDER' | translate"
                        formControlName="pieceFilter" [matAutocomplete]="autoPiece">
                </mat-form-field>
                <mat-autocomplete #autoPiece autoActiveFirstOption>
                    <mat-option *ngFor="let option of filteredPiecesOptions | async"
                        (onSelectionChange)="addCollection(option)" [innerHtml]="pieceName(option)">
                    </mat-option>
                </mat-autocomplete>

                <mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="order">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"COLLECTIONS.ORDER" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.order}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"PIECES.NAME" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.piece.name}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"PIECES.TYPE" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{('PIECES.ENUMS.' + row.piece.type) | translate}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="author">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"PIECES.AUTHOR" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.piece.author}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="arranger">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"PIECES.ARRANGER" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span>{{row.piece.arranger}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="description">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{"PIECES.DESCRIPTION" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <span [innerHtml]="row.piece.description"></span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef>
                            {{"SHARED.ACTIONS" | translate}}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let row; let i = index;">
                            <div fxFlex="layout-wrap">
                                <button type="button" mat-icon-button aria-label="Show"
                                    (click)="showPiece(row.piece.id)" matTooltip="{{'SHARED.SHOW' | translate}}">
                                    <mat-icon>search</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="First" *ngIf="!readOnly"
                                    (click)="moveCollection(row, PositionEnumFirst)" [disabled]="row.order === 1"
                                    matTooltip="{{'SHARED.ORDER.FIRST' | translate}}">
                                    <mat-icon>arrow_upward</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Up" *ngIf="!readOnly"
                                    (click)="changeOrderCollection(row, -1)" [disabled]="row.order === 1"
                                    matTooltip="{{'SHARED.ORDER.UP' | translate}}">
                                    <mat-icon>keyboard_arrow_up</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Down" *ngIf="!readOnly"
                                    (click)="changeOrderCollection(row, +1)"
                                    [disabled]="row.order === dataSource.data.length"
                                    matTooltip="{{'SHARED.ORDER.DOWN' | translate}}">
                                    <mat-icon>keyboard_arrow_down</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Last" *ngIf="!readOnly"
                                    (click)="moveCollection(row, PositionEnumLast)"
                                    [disabled]="row.order === dataSource.data.length"
                                    matTooltip="{{'SHARED.ORDER.LAST' | translate}}">
                                    <mat-icon>arrow_downward</mat-icon>
                                </button>
                                <button type="button" mat-icon-button aria-label="Delete" *ngIf="!readOnly"
                                    (click)="deleteCollection(i)" matTooltip="{{'SHARED.DELETE' | translate}}">
                                    <mat-icon>delete</mat-icon>
                                </button>
                            </div>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

                </mat-table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
            </div>
        </mat-card-content>
    </mat-card>

    <buttons-actions [disabled]="!formGroup.valid" [readOnly]="readOnly" [back]="'albums'"></buttons-actions>
</form>