<router-outlet></router-outlet>
<app-loading-spinner></app-loading-spinner>
<p-toast></p-toast>
<p-toast [key]="updateToastKey" position="bottom-right">
    <ng-template let-message pTemplate="message">
        <div class="flex flex-col gap-2 w-full">
            <span class="font-semibold">{{ message.summary }}</span>
            <span class="text-sm">{{ message.detail }}</span>
            <p-button label="Ricarica" icon="pi pi-refresh" size="small" styleClass="self-start"
                (onClick)="applyUpdate()" />
        </div>
    </ng-template>
</p-toast>
<p-confirmdialog key="guard" />