/* You can add global styles to this file, and also import other style files */
@use './tailwind.css';
@use './assets/layout/layout.scss';
@use 'primeicons/primeicons.css';
@use './assets/demo/demo.scss';

@media print {
    .print {
        position: absolute;
        top: 0;
        left: 0;
    }

    .not-print {
        visibility: hidden;
    }

    .card {
        background-color: transparent;
    }
}

.progress-spinner {
    position: fixed;
    z-index: 99999;
    height: 8em;
    width: 8em;
    overflow: hidden;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

/* Transparent Overlay */
.progress-spinner:before {
    content: "";
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.53);
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
}

.w-100 {
    width: 100%;
}

.menu-separator {
    border-top: 3px solid var(--surface-border);
    border-radius: 0;
    padding: 0;
    margin: 1rem 0;
}