<mat-card>
    <mat-card-header>
        <div fxLayout="row" fxLayoutAlign="end center" class="w-100">
            <button type="button" mat-stroked-button color="primary" (click)="print()">
                {{'SHARED.PRINT' | translate}}
            </button>
        </div>
    </mat-card-header>

    <mat-card-content>
        <div class="print list" cdkDropList [cdkDropListData]="mediaList" (cdkDropListDropped)="drop($event)">
            <div class="elem" cdkDrag *ngFor="let media of mediaList">
                <img [src]="media.preview" alt="{{media.name}}" *ngIf="media.type === mediaImage">
            </div>
        </div>
    </mat-card-content>
</mat-card>