.minw-8rem {
    min-width: 8rem;
}

.minw-10rem {
    min-width: 10rem;
}

.minw-12rem {
    min-width: 12rem;
}

.minw-16rem {
    min-width: 16rem;
}

.minw-75rem {
    min-width: 75rem;
}

.danger-zone {
    border-color: rgba(239, 68, 68, 0.4) !important;
}

.danger-zone-label {
    color: rgb(220, 38, 38);
}

:host-context(.app-dark) .danger-zone-label {
    color: rgb(252, 165, 165);
}