<p-fluid>
    <div class="flex">
        <div class="card flex flex-col gap-4 w-full">
            <div class="flex flex-row justify-between items-center">
                <span class="font-semibold text-xl">Strumento</span>
                <div class="flex gap-2">
                    <p-button label="Salva" icon="pi pi-check" severity="primary" (onClick)="save()" />
                    <p-button label="Elimina" icon="pi pi-trash" severity="danger" [outlined]="true" (onClick)="confirmDelete()" />
                </div>
            </div>
            <p-confirmdialog />
            <div class="flex flex-col md:flex-row gap-6">
                <p-floatlabel class="flex w-full" variant="on">
                    <input pInputText id="name" type="text" [(ngModel)]="instrument!.name" />
                    <label for="name">Nome</label>
                </p-floatlabel>
            </div>
            <p-floatlabel class="flex" variant="on">
                <textarea pTextarea id="description" rows="4" [(ngModel)]="instrument!.description"></textarea>
                <label for="description">Descrizione</label>
            </p-floatlabel>
        </div>
    </div>

    <p-scrolltop />
</p-fluid>