<ng-template #cardContent>
    <span class="stat-card__copy">
        <small>{{ label }}</small>
        <strong>{{ value }}</strong>
        @if (link) {
            <span class="stat-card__action">{{ actionLabel }} <i class="pi pi-arrow-right" aria-hidden="true"></i></span>
        }
    </span>
    <span class="stat-card__icon" [ngClass]="'stat-card__icon--' + color">
        <i class="pi {{ icon }}" aria-hidden="true"></i>
    </span>
</ng-template>

@if (link) {
    <a class="card stat-card" [routerLink]="link" [attr.aria-label]="actionLabel">
        <ng-container [ngTemplateOutlet]="cardContent" />
    </a>
} @else {
    <div class="card stat-card stat-card--static">
        <ng-container [ngTemplateOutlet]="cardContent" />
    </div>
}
