// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-primary: mat.define-palette(mat.$purple-palette);
$frontend-accent: mat.define-palette(mat.$green-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$frontend-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-light-theme: mat.define-light-theme((
    color: (
        primary: $frontend-primary,
        accent: $frontend-accent,
        warn: $frontend-warn,
    )
));

$frontend-dark-theme: mat.define-dark-theme((
    color: (
        primary: $frontend-primary,
        accent: $frontend-accent,
        warn: $frontend-warn,
    )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($frontend-light-theme);

.darkTheme {
    @include mat.all-component-themes($frontend-dark-theme);
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-table {
    mat-cell, mat-header-cell {
        padding: 0 0.5rem;
    }
}

.margin-1rem {
    margin: 1rem;
}

.margin-bottom-1rem {
    margin-bottom: 1rem;
}

.margin-top-2rem {
    margin-top: 2rem;
}

.mat-snackbar.info {
    background: #c3c3c3;
    color: rgba(0, 0, 0, 0.87);
}

.mat-snackbar.success {
    background: #69f0ae;
    color: rgba(0, 0, 0, 0.87);
}

.mat-snackbar.warn {
    background: #f4ab36;
    color: #fff;
}

.mat-snackbar.error {
    background: #f44336;
    color: #fff;
}

.w-100 {
    width: 100%;
}

@media print {
    @page {
        margin: 0;
        size: A4 portrait;
    }

    body {
        height: min-content;
    }

    * {
        overflow: visible !important;
    }

    .print {
        visibility: visible !important;
    }

    .print {
        img {
            visibility: visible !important;
            break-inside: avoid;
            display: block !important;
            width: 100% !important;
            object-fit: contain;
        }
    }

    :not(.print):not(.container):not(.sidenav-container):not(html):not(body):not(app-root) {
        visibility: hidden;
    }

    .main-page-container {
        padding: 0 !important;
    }

    .sidenav-content {
        margin-left: 0 !important;
        overflow: hidden !important;
    }

    mat-toolbar, mat-sidenav, button, mat-card-header {
        display: none !important;
        visibility: hidden !important;
    }
}
