/* Utils */
.clearfix:after {
    content: ' ';
    display: block;
    clear: both;
}

.card {
    --card-padding: 2rem;
    /* Da usare come margine negativo per gli elementi che devono sbordare
       fino al bordo della card, come i piedi di impaginazione dei widget. */
    --card-bleed: -2rem;

    background: var(--surface-card);
    padding: var(--card-padding);
    margin-bottom: 2rem;
    border-radius: var(--content-border-radius);

    &:last-child {
        margin-bottom: 0;
    }
}

.p-toast {
    &.p-toast-top-right,
    &.p-toast-top-left,
    &.p-toast-top-center {
        top: 100px;
    }
}
