@-webkit-keyframes spinning-coin {
    0% {
        -webkit-transform: perspective(160px) rotateY(0deg);
        transform: perspective(160px) rotateY(0deg);
    }
    10% {
        -webkit-transform: perspective(160px) rotateY(-65deg);
        transform: perspective(160px) rotateY(-65deg);
    }
    90%,
    100% {
        -webkit-transform: perspective(160px) rotateY(2880deg);
        transform: perspective(160px) rotateY(2880deg);
    }
}

@keyframes spinning-coin {
    0% {
        -webkit-transform: perspective(160px) rotateY(0deg);
        transform: perspective(160px) rotateY(0deg);
    }
    10% {
        -webkit-transform: perspective(160px) rotateY(-65deg);
        transform: perspective(160px) rotateY(-65deg);
    }
    90%,
    100% {
        -webkit-transform: perspective(160px) rotateY(2880deg);
        transform: perspective(160px) rotateY(2880deg);
    }
}

.spinning-coin:before {
    -webkit-animation: spinning-coin 3s infinite;
    animation: spinning-coin 3s infinite;
    -webkit-transform-origin: center;
    transform-origin: center;
    background-image: url("./../../../../assets/chroma.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.arc:before {
    -webkit-animation: spin 0.5s infinite linear;
    animation: spin 0.5s infinite linear;
    border-radius: 100%;
    border-top: 6px solid;
    content: "";
    display: block;
    height: 40px;
    width: 40px;
}

.container {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000000;

    .ground {
        width: 100vw;
        height: 100vh;
        background-color: black;
        opacity: 0.5;
    }

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        p {
            color: white;
        }
    }
}
